@inject NavigationManager NavigationManager

<h3>Você está sendo redirecionado...</h3>

@code {

    protected override void OnInitialized()
    {
        NavigationManager.NavigateTo("/login");
    }

}