<div class="d-flex justify-center pb-8 pt-8">
    <img src="imgs/logo.png" width="200"/>
</div>

<MudNavMenu>
    <MudNavLink Href="/" Match="NavLinkMatch.All">Dashboard</MudNavLink>
    <MudNavLink Href="/owners" Match="NavLinkMatch.All">Proprietários</MudNavLink>
    <MudNavLink Href="/tenants" Match="NavLinkMatch.All">Inquilinos</MudNavLink>
    <MudNavLink Href="/properties" Match="NavLinkMatch.All">Imóveis</MudNavLink>
    <MudNavLink Href="/logout" Match="NavLinkMatch.All">Sair</MudNavLink>
</MudNavMenu>