<div class="d-flex justify-center pb-8 pt-8">
    <img src="imgs/logo.png" width="200"/>
</div>

<MudNavMenu>
    <MudNavLink Href="/" Match="NavLinkMatch.All">Dashboard</MudNavLink>
    <MudNavLink Href="/owners" Match="NavLinkMatch.All">Proprietários</MudNavLink>
    <MudNavLink Href="/tenants" Match="NavLinkMatch.All">Inquilinos</MudNavLink>
    <MudNavLink Href="/properties" Match="NavLinkMatch.All">Imóveis</MudNavLink>
    <MudNavLink Match="NavLinkMatch.All" OnClick="OnLogoutButtonClicked">Sair</MudNavLink>
</MudNavMenu>

@code {
    [Inject]
    public IDialogService DialogService { get; set; } = null!;
    
    public async void OnLogoutButtonClicked()
    {
        var parameters = new DialogParameters<LogoutDialog>
        {
            { x => x.ContentText, "Realmente deseja encerrar a sua sessão?" },
            { x => x.ButtonText, "Sair" },
            { x => x.Color, Color.Error }
        };
        
        await DialogService.ShowAsync<LogoutDialog>("Logout", parameters);
    }
}